{% extends 'base.html' %}

{% block title %}
|| Change Password
{% endblock title %}

{% block internalcss %}
body{
    background-color: #d5dbe0;
}
{% endblock internalcss %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6  mx-auto my-5">
            <div class="card h-100 bg-light">
                <h3  class="card-header text-center">Change Password for <i>{{user.username}}</i></h3>
                <div class="card-body">
                    <form action="{% url 'change-password' %}" method="post">
                        {% csrf_token %}
                        {% comment %} {{ form.as_p }} {% endcomment %}
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="old password" class="form-label fw-semibold">Old Password</label>
                                {{form.old_password}}
                            </div>
                            <div class="col-12 mb-2">
                                <label for="new password" class="form-label fw-semibold">New Password</label>
                                {{form.new_password1}}
                            </div>
                            <div>
                                <ul>
                                    <li>Your password can’t be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can’t be a commonly used password.</li>
                                    <li>Your password can’t be entirely numeric.</li>
                                </ul>
                            </div>
                            <div class="col-12">
                                <label for="confirm new password" class="form-label fw-semibold">Confirm New Password</label>
                                {{form.new_password2}}
                            </div>
                            
                        </div>
                        <button type="submit" class="btn btn-dark mt-3">Change Password</button>
                        <a href="{% url "profile" %}" class="btn btn-outline-danger mt-3">Cancel</a>
                    </form>
                    <div class="text-danger col-12">
                        {% for fm in form %}
                        <p>{{fm.errors|striptags}}</p>
                        {% endfor %}
                    </div>

                    {% comment %} for form_invalid function
                    <div class="bg-success rounded">
                        {% for message in messages  %}
                            <p class="text-light text-center p-2">{{message}}</p>
                        {% endfor %}
                    </div> {% endcomment %}

                </div>
            </div>
        </div>
    </div>
</div> 



{% comment %} <form action="" method="post" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors  %}
            <p>{{error}}</p>
        {% endfor %}
    {% endif %} {% endcomment %}

    {% comment %} {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
    {% endfor %} {% endcomment %}
    {% comment %} {{form.as_p}}
    <input type="submit" value="Save">
</form> {% endcomment %}


{% comment %} <div class="container">
    <div class="row">
        <div class="col-md-6  mx-auto my-5">
            <h3 class="text-center">Change Password for <i>{{user.username}}</i></h3>
            <div class="card h-100  bg-light">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors  %}
                                <p>{{error}}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="old password" class="form-label fw-semibold">Old Password</label>
                                {{form.old_password}}
                            </div>
                            <div class="col-12 mb-2">
                                <label for="new password" class="form-label fw-semibold">New Password</label>
                                {{form.new_password1}}
                            </div>
                            <div>
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="confirm new password" class="form-label fw-semibold">Confirm New Password</label>
                                {{form.new_password2}}
                            </div>
                            <div class="text-danger">
                                {% for fm in form %}
                                <ul>{{fm.errors|striptags}}</ul>
                                {% endfor %}
                            </div>
                          </div>
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
{% endblock content %}

